@{
  Layout = "_Layout";
}

@using HairSalon.Models;

@model HairSalon.Models.Stylist;

<h2>Stylist Information</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)</h3>

@if (@Model.Clients.Count == 0)
{
  <h3>This stylist does not have any clients on their roster.</h3>
} 
else
{
  <h3>clients:</h3>
  <ul>
    @foreach (Client client in Model.Clients)
    {
      <li>@Html.ActionLink($"{client.ClientName}", "Details", "Clients", new { id = client.ClientId})</li>
    }
  </ul>
}

<p>@Html.ActionLink("Edit Stylist Info", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>